
selector {
    attribute: value;
}
h1 {
    color:#333333;
}
h2 {
    color:#333333;
}
h4 {
    color:#333333;
}
h5 {
    color:#333333;
}
.text-justify {
    text-align: justify;
}
.map-format {
    width: 90vw;
    margin-right: 5vw;
    height: 88vh;
    margin-left: 5vw;
}